<h1 class="text-4xl font-bold mb-3">4. How much does a heat pump cost and can I get a grant?</h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis officiis repudiandae odio nihil cupiditate, accusantium magni commodi eos, quasi sint, labore optio neque itaque ipsa ab similique delectus! Nesciunt, eaque.</p>

<div class="flex justify-between mt-12">
  <%= link_to "← 3. What type of heat pump is right for my home?", step3_path, class: "link" %>
  <%= link_to "5. Will I need to do any extra work on my property? →", "#step-5", class: "link" %>
</div>
