<h1 class="text-4xl font-bold mb-3">2. Why should I get a heat pump?</h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis officiis repudiandae odio nihil cupiditate, accusantium magni commodi eos, quasi sint, labore optio neque itaque ipsa ab similique delectus! Nesciunt, eaque.</p>

<div class="flex justify-between mt-12">
  <%= link_to "← 1. What is a heat pump?", "#step-1", class: "link" %>
  <%= link_to "3. What type of heat pump is right for my home? →", step3_path, class: "link" %>
</div>
